.auth-footer {
  font-size: $font-size-small;

  .goto {
    float: right;
  }

  .dot-separator {
    font-weight: bold;
  }
}

.footer_logo {
  display: block;
  // max-width:230px;
  max-height:50px;
  width: auto;
  height: auto;
}